vouse_flutter/.idea
vouse_flutter/.dart_tool
vouse_flutter/windows
vouse_flutter/test
vouse_flutter/macos
vouse_flutter/linux
vouse_flutter/web
vouse_flutter/build
vouse_flutter/.flutter-plugins
vouse_flutter/.flutter-plugins-dependencies
vouse_flutter/vouse_flutter.iml
vouse_flutter/firebase.json
vouse_flutter/devtools_options.yaml
vouse_flutter/lib/core/config/app_secrets.dart
.idea/

vouse_flutter/android/.kotlin
vouse_flutter/android/gradle-wrapper.jar
vouse_flutter/android/app/.cxx
vouse_flutter/android/app/google-services.json
vouse_flutter/android/.gradle
vouse_flutter/android/captures/
vouse_flutter/android/gradlew
vouse_flutter/android/gradlew.bat
vouse_flutter/android/local.properties
vouse_flutter/android/GeneratedPluginRegistrant.java



# Ignore patterns
vouse_flutter/ios/**/dgph
vouse_flutter/ios/*.mode1v3
vouse_flutter/ios/*.mode2v3
vouse_flutter/ios/*.moved-aside
vouse_flutter/ios/*.pbxuser
vouse_flutter/ios/*.perspectivev3
vouse_flutter/ios/**/*sync/
vouse_flutter/ios/.sconsign.dblite
vouse_flutter/ios/.tags*
vouse_flutter/ios/**/.vagrant/
vouse_flutter/ios/**/DerivedData/
vouse_flutter/ios/Icon?
vouse_flutter/ios/**/Pods/
vouse_flutter/ios/**/.symlinks/
vouse_flutter/ios/Runner/Info.plist
vouse_flutter/ios/Runner/GoogleService-Info.plist
vouse_flutter/ios/profile
vouse_flutter/ios/xcuserdata
vouse_flutter/ios/**/.generated/
vouse_flutter/ios/Flutter/App.framework
vouse_flutter/ios/Flutter/Flutter.framework
vouse_flutter/ios/Flutter/Flutter.podspec
vouse_flutter/ios/Flutter/Generated.xcconfig
vouse_flutter/ios/Flutter/ephemeral/
vouse_flutter/ios/Flutter/app.flx
vouse_flutter/ios/Flutter/app.zip
vouse_flutter/ios/Flutter/flutter_assets/
vouse_flutter/ios/Flutter/flutter_export_environment.sh
vouse_flutter/ios/ServiceDefinitions.json
vouse_flutter/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
vouse_flutter/ios/!default.mode1v3
vouse_flutter/ios/!default.mode2v3
vouse_flutter/ios/!default.pbxuser
vouse_flutter/ios/!default.perspectivev3



# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks




# =========================
# Node/JS Server (vouse_server) Specific
# =========================

# Compiled output
vouse_server/dist
vouse_server/node_modules
vouse_server/.idea
vouse_server/build

# Logs
vouse_server/logs
vouse_server/*.log
vouse_server/npm-debug.log*
vouse_server/pnpm-debug.log*
vouse_server/yarn-debug.log*
vouse_server/yarn-error.log*
vouse_server/lerna-debug.log*

# OS
.DS_Store

# Tests
vouse_server/coverage
vouse_server/.nyc_output

# IDEs and editors (WebStorm)
vouse_server/.idea
vouse_server/.project
vouse_server/.classpath
vouse_server/.c9/
vouse_server/*.launch
vouse_server/.settings/
vouse_server/*.sublime-workspace

# dotenv environment variable files
vouse_server/.env
vouse_server/.env.development.local
vouse_server/.env.test.local
vouse_server/.env.production.local
vouse_server/.env.local
vouse_server/vouse-4d2c0-firebase-adminsdk-fbsvc-0ae3a7c438.json
vouse_server/package-lock.json
vouse_server/dump.rdb

# Temp directory
vouse_server/.temp
vouse_server/.tmp

# Runtime data
vouse_server/pids
vouse_server/*.pid
vouse_server/*.seed
vouse_server/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
vouse_server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
