# =========================
# Flutter (vouse_flutter) Specific
# =========================

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related (Android Studio)
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
vouse_flutter/android/app/debug
vouse_flutter/android/app/profile
vouse_flutter/android/app/release

# Secrets
vouse_flutter/lib/core/config/app_secrets.dart


# =========================
# Node/JS Server (vouse_server) Specific
# =========================

# Compiled output
vouse_server/dist
vouse_server/node_modules
vouse_server/build

# Logs
vouse_server/logs
vouse_server/*.log
vouse_server/npm-debug.log*
vouse_server/pnpm-debug.log*
vouse_server/yarn-debug.log*
vouse_server/yarn-error.log*
vouse_server/lerna-debug.log*

# OS
.DS_Store

# Tests
vouse_server/coverage
vouse_server/.nyc_output

# IDEs and editors (WebStorm)
vouse_server/.idea
vouse_server/.project
vouse_server/.classpath
vouse_server/.c9/
vouse_server/*.launch
vouse_server/.settings/
vouse_server/*.sublime-workspace

# dotenv environment variable files
vouse_server/.env
vouse_server/.env.development.local
vouse_server/.env.test.local
vouse_server/.env.production.local
vouse_server/.env.local

# Temp directory
vouse_server/.temp
vouse_server/.tmp

# Runtime data
vouse_server/pids
vouse_server/*.pid
vouse_server/*.seed
vouse_server/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
vouse_server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
